<div class="col-md-4 offset-4 card mt-2 mt-4">
    <div class="card-body">
        <h1 class="display-5 text-center text-uppercase">Login</h1>
        <form action="/user/login" method="POST">
         <div class="form-group">
             <label for="username">Username</label>
             <input type="email "name="email" id="email" required class="form-control">
         </div>
          
         
         <div class="form-group">
             <label for="password">Password</label>
             <input type="password" name="password" id="password" required class="form-control">
         </div>
        
         <div class="btn-btn-dark mt-4">
             <button class="btn btn-dark btn-block mt-2">LOGIN</button>
         </div>
         <span> dont hava an account please </span>
         <a href="/user/register"> Register Here</a>
         </form>
    </div>
</div>