
    
    <div class="col-md-4 offset-4">
        {{#if errors}}
        <div class="alert alert-danger mt-2">{{text}}</div>
        {{/if}}
    </div>

    
    {{#if errors}}
    <div class="col-md-4 offset">
        <div class="alert alert-danger mt-2">{{errors}}</div>
    </div>
    
    {{/if}}
